*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-size: unset;
  font-weight: unset;
  color: var(--C-T-main);
}

:root {
  background-color: var(--C-BG-main);
  color: var(--C-T-main);
}
